[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
veiled = "H6apEGZAw23AKUeqCX41wkDv2LVwX3Ec8oYPip7k3xzA"

[programs.localnet]
veiled = "H6apEGZAw23AKUeqCX41wkDv2LVwX3Ec8oYPip7k3xzA"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[test.validator]
bind_address = "0.0.0.0"
url = "https://devnet.helius-rpc.com/?api-key=7e89c8e8-ccd1-43c3-bd7f-73c5a1d9fe54"
ledger = ".anchor/test-ledger"
rpc_port = 8899
