[toolchain]
anchor_version = "0.32.1"

[features]
seeds = false
skip-lint = false

[programs.localnet]
veiled = "F5LoTYERbrncwU2RdEAC36bxMxEiLxUwDpYFWrFqJRsC"

[programs.devnet]
veiled = "F5LoTYERbrncwU2RdEAC36bxMxEiLxUwDpYFWrFqJRsC"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
